html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

* {
  box-sizing: border-box;
  font-family: Arial;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

a:hover {
  text-decoration: none;
}
