.search-wrapper {
  margin: 30px 0;
}

.search-wrapper > label {
  font-size: 20px;
  display: block;
}

.search-wrapper > input {
  padding: 5px;
  font-size: 20px;
  width: 100%;
  border: 1px solid #555;
  border-radius: 5px;
}

#list {
  margin-bottom: 20px;
}

.list-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 20px;
  transition: 0.2s;
}

.list-item:hover {
  box-shadow: 0px 4px 12px -3px #888;
}

.list-item + .list-item {
  margin-top: 20px;
}

.list-item-details {
  padding-left: 15px;
}

.list-item-details-item + .list-item-details-item {
  margin-top: 5px;
  display: block;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px -10px 0;
}

.pagination > * {
  display: flex;
  margin: 0 10px 10px 0;
}

.pagination a {
  text-decoration: none;
}

.pagination-page {
  padding: 10px;
  border: 1px solid #999;
  color: #111;
  font-size: 20px;
  border-radius: 5px;
  transition: 0.2s;
}

.pagination-page:hover:not(.active-page) {
  background-color: #eee;
}

.active-page {
  background-color: #5696f5;
  color: #fff;
}
