.back-button {
  padding: 10px 30px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.back-button:hover {
  background-color: #eee;
}

.user-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.user-wrapper > img {
  margin-right: 20px;
  max-width: 200px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0 4px 11px -2px #999;
}

#content {
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  box-shadow: 0 6px 18px -9px #999;
  margin-top: 20px;
}

#content p {
  font-size: 20px;
}
